<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <h1>Meus Livros Desejados</h1>
    </header>

    <h2>
      Olá {{userName}}, viemos aqui para avisar que seu perfil foi {{action}} do
      sistema!
    </h2>

    <p>
      Caso não tenha realizado essa ação, entre em contato no whatsapp por (84)
      9 8849-5843
    </p>
  </body>
</html>
